<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen [ngStyle]="{display:'flex'}" *ngIf='question$ | async as ans'>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Question 2</ion-card-subtitle>
      <ion-card-title>{{ans[1].Question}}</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin
    </ion-card-content> -->
  </ion-card>
  <section>
    <ion-button expand="block" href='/third'>{{ans[1].Choice1}}</ion-button>
    <ion-button expand="block" href='/third'>{{ans[1].Choice2}}</ion-button>
    <ion-button expand="block" href='/third'>{{ans[1].Choice3}}</ion-button>
  </section>
  <h4>2 out of 3</h4>
  <!-- <ion-button (click)='go()'>Ora good cat</ion-button> -->
</ion-content>